html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1, h2 {
  color: #3f1622;
  font-weight: bold;
  font-family: "Pt Sans";
  font-size: 1.5rem;
}

nav {
  color: #8f2440;
  font-family: "PT Sans";
  font-weight: bold;
}

small {
  color: #8f2440;
}

body {
  font-weight: normal;
  font-family: "PT Serif";
}

nav, p, blockquote {
  font-size: 1.125rem;
}

h1, li {
  font-size: .8rem;
}

em, figcaption, cite, i, blockquote li {
  font-style: italic;
}

nav a:hover {
  text-decoration: underline;
  color: #8f2440;
}

ul {
  list-style-type: circle;
}

dl {
  list-style-type: lower-alpha;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
